[submodule "themes/hugo-gentoo-theme"]
	path = themes/hugo-gentoo-theme
	url = https://github.com/grem11n/hugo-gentoo-theme.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
