{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class="title">{{ .Title }}</h1>
      <div class="meta">
	<time class="pub-time"  datetime="{{ .Date.Format "January 2, 2006" | safeHTML }}">
	  {{ .Lastmod.Format ( .Site.Params.dateformat | default "January 2, 2006") }}
	</time>
      </div>
    </header>
    <div class="post-body">
      <img {{ with .Params.image }} class="post-thumbnail-image" src={{ . }} alt="About_img">{{ end }}
    </div>
    <div class="post-body">
      {{ .Content }}
    </div>
  </article><!-- /.post -->

  {{ partial "json-single.html" . }}
  {{ partial "json-author.html" . }}
{{ end }}
